/*#region code stolen from kevin powel hehe
 navigation styles start here */

header {
  background: var(--nav-background);
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  padding-block: 0.167em;
  max-height: 10rem;
}

header h1 {
  /* color: white; */
  border-bottom: var(--nav-border);
  padding-block: 0.49em;
  margin-block: 0.167em;
  margin-block-start: 0;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, 0.75);
}

.nav-toggle-label {
  position: absolute;
  top: -0.5rem;
  right: 0;
  margin-right: 2.5rem;
  height: 4em;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #430766;
  height: 3px;
  width: 1.2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-image: url("assets/light purple tileable background decoration.svg");
    background-position-y: -16rem;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  padding: 1em 0 1em 0;
}

nav li:hover {
    color: #8c00dd;
}


nav a {
  /* display: block; */
  width: 100%;
  /* color: white; */
  text-decoration: none;
  /* font-size: 1.5rem; */
  text-transform: capitalize;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  /* text-align: center; */
}

nav a:hover {
  /* color: #fff; */
}

.nav-toggle.active ~ nav {
  transform: scale(1, 1);
}

.nav-toggle.active ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(650px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    /* all: unset; /* this causes issues with Edge, since it's unsupported */

    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    /* margin-left: 1em; */
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #a827f3;
    position: absolute;
    bottom: -0.25em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 800px) {
    #navb {
        flex-direction: column;
    }

    nav {
        box-shadow: #00000036 0px 15px 15px 0px;
    
    }
}
/* #endregion*/
