@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url("variables.css");

:root {
    scroll-behavior: smooth;
    --light-gradient-bg: linear-gradient(90deg, #C6F6BA,#9DE48C);
    --dark-gradient-bg: linear-gradient(90deg, #0b3c1d,#104e27);
    --shadow: #00000056 -0px 0px 20px 0px;
    --side-margin: 1.5rem;
}

html {
    /* 10px */
    font-size: 62.5%;
    font-family: "Hammersmith One", Verdana, Geneva, Tahoma, sans-serif;
}
  
body {
    /* 16px */
    font-size: 1.6rem;
    height: 100dvh;
    background: var(--dark-gradient-bg);
    margin: 0;
    padding: 0;
    height: auto;
}

.h2 {
    background-image: url("assets/dark green tileable background decoration.svg");
    background-position-y: 83rem;
    background-size: 85rem;
    padding: 1.5rem 2rem;
    font-size: 5rem;
    color: white;
    padding-left: var(--side-margin);
    box-shadow: var(--shadow);
    scroll-margin-top: 12rem;
}

.h3 {
    text-align: center;
    font-size: 4rem;
    color: #E9E5FF;
}

.navbar {
    background-image: url("assets/light purple tileable background decoration.svg");
    background-position-y: -5rem;
    /* padding: 16px 16px 13px 24px; */
    font-size: 3rem;
    color: var(--mid-purple);
    /* background-size: 390rem; */
    display: flex;
    box-shadow: #00000036 0px 5px 20px 0px;
    position: sticky;
    top: 0;
}

.navbar img {
    object-fit: cover;
    width: 200px;
    padding-right: 15dvw;
    padding-left: 2rem;
    transition: cubic-bezier(.12,.67,.46,.91), 300ms;
}

.navbar a:focus img, .navbar a:hover img {
    transform: scale(1.02);
}

.navbar ul {
    padding: 2rem;
    padding-right: 6.5rem;
    margin-block: 0;
    display: grid;
    align-content: center;
    justify-content: center;
}

a {
    all: unset;
    cursor: pointer;
}

#navb {
    display: flex;
    width: 100%;
    width: -webkit-fill-available;
    justify-content: space-between;
}

#social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#social img {
    width: 18dvw;
    margin: 2rem;
    margin-bottom: 1rem;
}

#social p {
    margin: 1rem;
    text-align: center;
}

#social div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

#socialscontainer {
    display: grid;
    justify-content: center;
}

#about {
    scroll-margin-top: 12rem;
}

.text {
    padding: 9rem var(--side-margin);
    margin: 0;
    background-color: var(--dark-purple);
    line-height: 2;
    box-shadow: var(--shadow);
}

@media screen and (min-width: 800px) {
    #social {
        flex-direction: row;
    }
    #socialscontainer {
        display: block;
    }
    #social div {
        display: block;
    }
    .text {
        scroll-margin-top: 12rem;
        padding: 9rem calc(var(--side-margin) + 5rem);
    }
}


@media screen and (min-width: 1200px) {
    #social img {
        width: 18rem;
    }  
}

/* @media screen and (min-width: 1200px) {
    #aside-text-1 {
        /* width: 40dvw !important; */
        /* left: 0; 
    }
} */

.video {
    /* width: calc(100dvw - 35px);
    height: calc(100dvh); */
    /* width: 100%; */
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-purple);
    box-shadow: var(--shadow);
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
}

#video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.video-container {
    width: 100%;
  /* max-width: 600px; */
}

.video-h3 {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.video p {
    margin: 0;
    font-size: 5dvw;
}

#main-bg-image {
    height: 90dvh;
    background-image: url("assets/1st bg.webp");
    /* background-size: 100dvw; */
    background-position-x: center;
    box-shadow: var(--shadow);
    display: grid;
    align-items: center;
    justify-content: center;
}

#aside-text-1 {
    font-size: 4rem;
    text-align: justify;
    /* right: 0; */
    /* position: absolute; */
    /* top: 18dvh; */
    padding: 2rem;
    color: var(--almost-white-g);
    background-image: url("assets/darker\ green\ tileable\ background\ decoration.svg");
    background-size: 1000px;
    box-shadow: #00000036 0px 5px 20px 0px;
    text-align: center;
}

p {
    font-size: 1.6rem;
    text-align: justify;
    color: #f1fff1ea;
    margin: 4rem var(--side-margin);
    
}

p a {
    text-decoration: underline;
}


#footer {
    display: flex;
    flex-direction: column;
    
}

footer {
    padding: 2rem var(--side-margin);
    background: var(--light-gradient-bg);
    box-shadow: var(--shadow);
    margin-top: 10rem;
}

#footer p {
    color: var(--dark-purple);
    display: block;
    margin: 2rem 0;
    width: 100%;
    justify-content: flex-end;
}

.logo2 {
    width: 40dvw;
}

.credits p {
    color: var(--dark-purple);
    margin: 1rem;
    font-size: 1.2rem;
    text-align: center;
    padding-block: 0.45rem;
}

@media screen and (min-width: 800px) {

    #footer {
        display: flex;
        flex-direction: row;
        padding: 2rem var(--side-margin);
        background: var(--light-gradient-bg);
    }
    
    #footer p {
        display: flex;
        align-items: center;
        margin: 2rem;
        gap: 0.8rem;
    }
    
    p {
        font-size: 2rem;
    }
    
    .logo2 {
        width: 30dvw;
    }

    #aside-text-1 {
        font-size: 7rem;
        text-align: justify;
        /* right: 0; */
        /* position: absolute; */
        /* width: 50dvw; */
        /* top: 33dvh; */
    }

    :root {
        --side-margin: 4rem;
    }
}


@media screen and (max-width: 500px) {
    .logo2 {
        width: 100%;
    }
}

@media screen and (max-width: 1020px) {
    .navbar img {
        padding-right: 2dvw;
    }
}

/* @media screen and (max-width: 885px) {
    nav img {
        padding-right: 2dvw;
    }
} */


.footer {
    margin: 2rem var(--side-margin);
}


#gallery {
    padding: 0 var(--side-margin);
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 1rem;
}
    
    #gallery-img1 { grid-area: 3 / 3 / 5 / 4; }
    #gallery-img2 { grid-area: 1 / 1 / 3 / 4; }
    #gallery-img3 { grid-area: 1 / 4 / 4 / 6; }
    #gallery-img4 { grid-area: 4 / 4 / 6 / 5; }
    #gallery-img5 { grid-area: 3 / 1 / 5 / 3; }
    #gallery-img6 { grid-area: 5 / 2 / 6 / 4; }
    #gallery-img7 { grid-area: 5 / 1 / 7 / 2; }
    #gallery-img8 { grid-area: 7 / 1 / 8 / 3; }
    #gallery-img9 { grid-area: 6 / 2 / 7 / 3; }
    #gallery-img10 { grid-area: 1 / 6 / 4 / 7; }
    #gallery-img11 { grid-area: 4 / 5 / 6 / 7; }
    #gallery-img12 { grid-area: 6 / 3 / 8 / 6; }
    #gallery-img13 { grid-area: 6 / 6 / 7 / 7; }
    #gallery-img14 { grid-area: 7 / 6 / 8 / 7; }
  
  #gallery img {
    width: calc(50% - 0.5rem);
    height: 20dvh;
    object-fit: cover;
    border-radius: .5rem;
    transition: .15s;
    cursor: pointer;
  }
  
  #gallery img:hover {
    transform: scale(110%);
    box-shadow: 0rem 0rem 2rem black;
  }


  @media screen and (min-width: 800px) {
    #gallery {
        padding: 0 var(--side-margin);
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(7, minmax(1.6rem, 1fr));
        grid-auto-rows: max-content;
        gap: 1rem;
        height: 100dvh;
      }
      
    #gallery img {
        width: 100%;
        height: 100%;
    }
  }



  #kofiframe {
    border: none;
    width: 100%;
    /* padding:4px; */
    padding-top: 10rem;
    background: transparent;
  }

  .meepa-green {
    background: var(--meepa-green) !important;
  }