@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url("variables.css");

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url("variables.css");

:root {
    scroll-behavior: smooth;
    --light-gradient-bg: linear-gradient(90deg, #C6F6BA,#9DE48C);
    --light-gradient-transparent: linear-gradient(180deg, #9DE48C 0%, #C6F6BA 60%,  transparent 100%);
    --dark-gradient-bg: linear-gradient(105deg, #09361a 0%,#115f2d 60%);
    --shadow: #00000056 -0px 0px 20px 0px;
    --side-margin: 1.5rem;
}

html {
    /* 10px */
    font-size: 62.5%;
    font-family: "Hammersmith One", Verdana, Geneva, Tahoma, sans-serif;
}
  
body {
    /* 16px */
    font-size: 1.6rem;
    height: 100dvh;
    background: url("assets/background\ decoration.svg");
    margin: 0;
    padding: 0;
    height: auto;
    background-size: 150dvw;
    background-position: top;
}

@media (max-aspect-ratio: 1.19/1) {
    body {
        background-size: 200dvh;
    }
}

h2 {
    text-align: center;
    font-size: 4rem;
    color: white;
}

h1 {
    background-image: var(--dark-gradient-bg);
    padding: 5.5rem 2rem;
    font-size: 5rem;
    color: #d9f5d2;
    padding-left: var(--side-margin);
    box-shadow: var(--shadow);
    scroll-margin-top: 12rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}


.container {
    height: 100dvh;
    display: grid;
    align-items: center;
    justify-items: center;
}

h3 {
    text-align: center;
    font-size: 4rem;
    color: #E9E5FF;
}

.logo2 {
    width: 40%;
}

.logo-container {
    padding: 5%;
    padding-bottom: 10%;
    padding-top: 2%;
    background: var(--light-gradient-transparent);
}

.loading-animation {
    padding-left: 1rem;
    height: 4.5rem;
}