@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');


html {
    /* 10px */
    font-size: 62.5%;
    font-family: "Hammersmith One", Verdana, Geneva, Tahoma, sans-serif;
}
  
body {
    /* 16px */
    font-size: 1.6rem;
    height: 100dvh;
    background: linear-gradient(90deg, #C6F6BA,#9DE48C);
    margin: 0;
    padding: 0;
}

h2 {
    background-image: url("assets/dark green tileable background decoration.svg");
    background-position-y: 83rem;
    background-size: 85rem;
    padding: 1.5rem 2rem;
    font-size: 5rem;
    color: white;
    padding-left: 5rem;
    box-shadow: #00000056 -0px 0px 20px 0px;
}

.navbar {
    background-image: url("assets/light purple tileable background decoration.svg");
    background-position-y: -5rem;
    padding: 16px 16px 13px 24px;
    font-size: 3rem;
    color: #430766;
    /* background-size: 390rem; */
    display: flex;
    box-shadow: #00000036 0px 5px 20px 0px;
    position: sticky;
    top: 0;
}

.navbar img {
    object-fit: cover;
    width: 200px;
    padding-right: 15dvw;
}

.navbar ul {
    padding: 2rem;
    padding-right: 6.5rem;
    margin-block: 0;
    display: grid;
    align-content: center;
    justify-content: center;
}

a {
    all: unset;
    cursor: pointer;
}

#navb {
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-between;
}


@media screen and (max-width: 1020px) {
    .navbar img {
        padding-right: 2dvw;
    }
}

/* @media screen and (max-width: 885px) {
    nav img {
        padding-right: 2dvw;
    }
} */