:root {
    --meepa-green: #288148;
    --spruce-green: #71C6A3;
    --mcex-green: #B7F4B2;
    --two-green: #8ECA79;

    --dark-purple: #1E0042;
    --mid-purple: #430766;
    --lavander-purple: #CABEFF;
    --light-purple: #E9E5FF;

    --bright-purple: #8c00dd;
    --almost-white-g: #F1FFF1;
}